@charset "UTF-8";
body{
    background-color: rgb(202, 235, 202);
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    color: rgb(12, 43, 12);
}
h2{
    color: rgb(19, 109, 19);
    
}
h1#principal {
    text-align: center;
    background-color: green;
    color: white;
}
.basico{
    color: green;


}
.intermediario{
    color: yellow;

}
.avancado{
    color: red;

}
.destaque{
    background-color: rgb(207, 175, 171);
    background-image: linear-gradient(to top, rgb(226, 162, 162), white);
}